.country {
    background: #100101;
    border: 1px solid #999;
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 34px;
    height: 50px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 200px;
    &.red{
      background: rgba(75, 1, 1, 0.836);
    }
    &.blue{
      background: rgb(2, 2, 96);}
  }
  