@import "tailwindcss";

.dialog-container{
    @apply static flex flex-col items-center justify-center z-1000 w-full h-full;
}

.dialog{
    @apply fixed block top-1/4 left-1/2 -translate-x-1/2 right-50 z-1000 p-1 place-content-center text-(--popover-foreground) bg-(--popover);
}

.label{
    text-align: left;
    font-size: large;
    font-weight: bold;
}

.notification{
    text-align: center;
    
}